* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #272b33;
}
.text-gray {
  color: #9e9e9e;
  font-size: 2vw;
}
/*header - nav bar*/
header {
  background-color: #f5f5f5;
  width: 100%;
  height: 10vw;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 12px;
}

.navbar-logo {
  margin-right: auto;
  margin-left: 2vw;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  padding: 10px;
}

.btn-navbar {
  text-decoration: none;
  font-size: 17px;
  color: rgb(32, 35, 41);
  font-weight: bold;
}
.btn-support {
  border: 1px solid orange;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 13px;
}

/*main*/

.container {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 3vw;
  padding-right: 3vw;
  gap: 10px;
}

.character-descript {
  width: 70%;
}
.character-name {
  margin-bottom: 4vw;
}
.character-name h1 {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 1px;
}

.appearance h2 {
  color: white;
  font-size: 3.5vw;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 1px;
}

/*box info*/
.character-info-box {
  background-color: rgb(203, 226, 233);
  width: 30%;
  padding: 0.3vw;
  border: #5f7aaf 0.2vw solid;
  box-shadow: 0 0 10px #5f7aaf;
}
.box-character {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-character-name {
  background-color: #5f7aaf;
  width: 100%;
  font-size: 2.5vw;
  color: white;
  font-weight: bold;
}
.box-character-img {
  width: 100%;
}
.box-character-img img {
  width: 100%;
  object-fit: cover;
}

/*box info subtitles*/
.character-subinfo-box {
  display: flex;
  flex-direction: column;
}
.subinfo {
  display: flex;
  flex-direction: row;
}
.character-subinfo-box-title {
  color: rgb(32, 35, 41);
  font-size: 1.5vw;
  font-weight: bold;
  padding-left: 2vw;
  padding-right: 2vw;
}
.character-subinfo-box-desc {
  color: rgb(90, 88, 88);
  font-size: 1.5vw;
}
.character-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.status-icon {
  margin-left: 10px;
  margin-right: 10px;
  height: 10px;
  width: 10px;
  background: rgb(85, 204, 68);
  border-radius: 50%;
}

.status-icon.active {
  background: rgb(85, 204, 68);
}

.status-icon.dead {
  background: rgb(214, 61, 46);
}

.status-icon.unknown {
  background: rgb(158, 158, 158);
}

/*footer*/
footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #202329;
}
.text-gray-footer {
  color: #9e9e9e;
  font-size: 1vw;
}

.stats ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 10px;
}
.stats a {
  text-decoration: none;
}
.stats a:hover {
  color: orange;
}

.api-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.api-status a {
  text-decoration: none;
}
.api-status a:hover {
  color: orange;
}
.api-status-icon {
  height: 10px;
  width: 10px;
  margin-left: 10px;
  background: rgb(85, 204, 68);
  border-radius: 50%;
}
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}
.social-media i {
  color: #9e9e9e;
  font-size: 24px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.copyright a {
  color: white;
  text-decoration: underline;
  text-decoration-color: orange;
  font-weight: bold;
  padding-right: 5px;
}

.copyright a:hover {
  text-decoration: none;
  color: orange;
}

/*usnado js*/
.character-info-list {
  color: white;
  font-size: 1.5vw;
  padding-left: 3vw;
}
