html {
    background-color: #44281d;
    font-family: /*'Handjet'*/ 'Segoe UI', 'Roboto';
}

body {
    margin: 0px;
}


/* HEADER */

header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    background-color: #FFF;
    height: 50vh;
    overflow: hidden;
}

nav {    
    display: flex;
    justify-content: end;
    margin: 1em;
}

.logo-rickandmorty-nav {
    position: absolute;
    left: 2em;
}

.logo-rickandmorty-nav img:hover {
    fill: #97ce4c;
}

h1 {
    font-size: 8em;
    font-family: 'Handjet';
    color: #44281d;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 40px #97ce4c;
}

button {
    color: #44281d;
    background-color: transparent;
    border: 0px;
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

button:hover {
    cursor: pointer;
    color: #97ce4c;
}

.supportus {
    transition: color .3s ease;
    border: 2px dotted #44281d;
    border-radius: 1em;
    font-weight: normal;
    margin-left: .5em;
}

.supportus:hover {
    color: #fff;
    background-color: #44281d;
    border: 2px dotted #fff;
}

.header-background-image {
    display: flex;
    justify-content: center;
    position: relative;
}

.header-background-image img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 30%;
    z-index: 1;
    opacity: .2;
    filter:brightness(.5);
}


/* CARDS */

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin: 3em 0 6em;
}

a {
    display: block;
    text-decoration: none;
    color: #fff; 
}

article {
    display: flex;
    justify-content: start;
    background-color:#6b402e;
    width: 32em;
    height: 14em;
    border-radius: 1em;
}

article:hover {
    box-shadow: 0 0 .7em #c2a396b7;
}

.card-image {
    display: flex;
    margin: 0px;
}

.card-image img {
    border-radius: 1em;
}

.card-info {
    margin: .6em;
    margin-left: 1.2em;
    color: #fff;
}

.card-info a:hover {
    color: #97ce4c;
}

.card-info .card-info-name {
    font-size: 1.5em;
    font-weight: bold;
}

.card-info-life-status-icon {
    display: flex inline;
    height: .5em;
    width: .5em;
    margin-left: .1em;
    margin-right: .15em;
    border-radius: 50%;
}

.dead {
    background-color: rgb(199, 13, 13);
}

.alive {
    background-color: #97ce4c;
}

.card-info .card-info-location {
    color: #c2a396;
    margin-top: 1em;
}

.card-info .card-info-firstseen {
    color: #c2a396;
    margin-top: 1em;
}



/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: #311c14;
    padding: 5em 0;
    font-size: .9em;
    flex-flow: column;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0;
}

footer ul li + li {
    padding-left: 1.5em;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    color: #977b6f;
    font-weight: bold;

}

footer a:hover {
    color: #97ce4c;
}

footer .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.server-status-icon {
    display: flex;
    height: .6em;
    width: .6em;
    border-radius: 50%;
    margin-left: .5em;
}

footer .coded-by {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #977b6f;
    margin-top: 4em;
}

footer .coded-by a {
    padding: 0 .3em;
    text-decoration: underline #97ce4c;

}

footer .coded-by a:hover {
    text-decoration: none;
}
